$avisiBackground: #f8f8f8;
$avisiDarkBlue: #003345;
$avisiLightBlue: #1199bb;
$avisiDarkGray: #595959;
$avisiLightGray: #eeeeee;

$avisiFontScale: 1.0;
$avisiLogoHeight: 3%;
$avisiLogoMargin: 2%;
$avisiFooterHeight: calc(#{$avisiLogoHeight} + #{$avisiLogoMargin} * 2);
$avisiFooterPadding: 15px;
